{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.0.0"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-proto-to-assign",
        ["@babel/plugin-transform-classes", {
            "loose": true
        }]
    ]
}
